<section class="container">
    <mat-card class="main-card">
        <mat-card-header class="main-card-header">
            <mat-card-title class="title">🛠️ Simulador Escalonador 2PL</mat-card-title>
        </mat-card-header>
        
        <mat-card-content class="main-card-content">
            <p class="description">Selecione as transações a serem executadas:</p>
            
            <div class="transaction-list">
                @for (trans of transactions; track $index) {
                    <div class="transaction-item">
                        <mat-checkbox color="primary" [(ngModel)]="trans.selected"></mat-checkbox>
                        <span class="transaction-label">T{{ trans.id }} - {{ getTransactionStr(trans) }}</span>
                    </div>
                }
            </div>
            
            <button mat-raised-button color="accent" class="generate-button" (click)="onClick()">Gerar História Inicial</button>
        </mat-card-content>
    </mat-card>

    @if (allExecuted) {
        <mat-card class="execution-card">
            <mat-card-header class="execution-card-header">
                <mat-card-title class="title">📜 Execução</mat-card-title>
            </mat-card-header>
            
            <mat-card-content class="execution-card-content">
                @if (initialHistory.step.length > 0) {
                    <p class="history-title">História Inicial</p>
                    <p class="history-content">HI - {{ getInitialHistory() }}</p>
                }
                
                <mat-divider></mat-divider>
                
                @if (allExecuted) {
                    <p class="history-title">História Final</p>
                    <p class="history-content">HF - {{ getFinalHistory() }}</p>
                }
            </mat-card-content>
        </mat-card>
    }
</section>

<router-outlet></router-outlet>